@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/iransans/woff2/IRANSansWeb_Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/iransans/woff2/IRANSansWeb_Black.woff2') format('woff2');
}

/* Iran Yekan Font Faces */
@font-face {
    font-family: 'iranyekanweb';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/iranyekan/woff/iranyekanwebthinfanum.woff') format('woff');
}

@font-face {
    font-family: 'iranyekanweb';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/iranyekan/woff/iranyekanweblightfanum.woff') format('woff');
}

@font-face {
    font-family: 'iranyekanweb';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/iranyekan/woff/iranyekanwebregularfanum.woff') format('woff');
}

@font-face {
    font-family: 'iranyekanweb';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/iranyekan/woff/iranyekanwebmediumfanum.woff') format('woff');
}

@font-face {
    font-family: 'iranyekanweb';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff');
}

@font-face {
    font-family: 'iranyekanweb';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/iranyekan/woff/iranyekanwebblackfanum.woff') format('woff');
}

/* Peyda Font Faces */
@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/peyda/PeydaWeb/woff/PeydaWeb-Thin.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/peyda/PeydaWeb/woff/peydaWeb-extralight.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/peyda/PeydaWeb/woff/peydaWeb-light.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/peyda/PeydaWeb/woff/PeydaWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/peyda/PeydaWeb/woff/PeydaWeb-Medium.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/peyda/PeydaWeb/woff/PeydaWeb-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/peyda/PeydaWeb/woff/PeydaWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/peyda/PeydaWeb/woff/PeydaWeb-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'PeydaWeb';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/peyda/PeydaWeb/woff/PeydaWeb-Black.woff') format('woff');
}